body {font-family: "Hiragino Kaku Gothic Pro", sans-serif;
    letter-spacing:1px;
    text-align:left;
    font-weight: 300;
    color: #000000;
    background-color: azure;
    height: 100%;
    width: 100%;

    background-image: linear-gradient(127deg, #9fc6cc 25%, #f9f5ff 25%, #f9f5ff 50%, #9fc6cc 50%, #9fc6cc 75%, #f9f5ff 75%, #f9f5ff 100%);
    background-size: 50.09px 66.47px;
}

#page-content {
    width: 100%;
    height: 100%
}

#infos {
    width: 80%;
    height: 100%;
    background-color: white;
    position: absolute;
}

#infos iframe {
    height: 60%;
    width: 80%
}

#info-nav ul, li{
    float: left;
    padding: 5px;
    list-style-type: none;
    border-right: 1px solid grey;
}

/* phones */
@media (max-width: 480px) {
    #circle-outer {
        width:90%;
        height: 90%;
        margin-top:50%;
    }

    #circle h1 {
        font-size: 16px;
        top:20%; left:40%;
        position: absolute;
        margin-top:15%;
    }

    #page-content {
        height: 400px;
    }

    #page-content img {
        width: 60%;
    }

    #housing p {
        font-size: smaller;
    }

    #infos {
        height: 150%;
    }


    #circle p, span{
        font-size: 10px!important;
    }

    #circle a {
        font-size: 14px;
    }

    #circle img {
        margin-top: 2%;
    }

}

/* tablet */
@media (max-width: 800px) {
    #content  {
        width:90%;
        height: 90%;
        margin-left: 5%;
    }

    #infos h1{
        margin-top: 15%;
        font-size: smaller;
    }

    #save {
        margin-top: 15%;
    }

    #circle h1 {
        font-size: 16px;
        top:20%; left:45%;
        position: absolute;
        margin-top:15%;
        transform: translate(-40%, -40%);
    }

    #day-para span, p{
        font-size: 14px!important;
    }

    #page-content p {
        margin-left: 0;
        padding: 4px;
        width: 90%;
    }

    #page-content img {
        width: 60%;
    }

    #save {
        margin-top: 35%
    }

    #day-para {
        margin-top: 10%
    }

    #housing p {
        line-height: 150%;
    }

    #page-content {
        font-size: smaller;
    }

    #page-content p {
        font-size: smaller;
    }

    #page-content table {
        font-size: 10px;
        width: 90%;
    }

    #page-content h3 {
        font-size: smaller;
        margin-left: 5%;
    }

    #infos h1{
        margin-top: 15%;
        font-size: smaller;
    }

    #info-nav {
        font-size: 10px;
    }

    #guest {
        margin-top: -10px;
    }

    #infos {
        height: 150%;
    }

    #circle img {
        margin-top: 10%;
    }



}

/* tablet2 */
@media (min-width: 800px) {
    #content  {
        width:90%;
        height: 90%;
        margin-left: 5%;
    }


    #housing {
        margin-top: 10%;
        font-size: smaller;
    }

    #circle h1 {
        font-size: 30px;
        top:20%; left:45%;
        margin-top:15%;
        position: absolute;
        transform: translate(-40%, -40%);
    }

    #circle p {
        font-size: 25px;
    }

    #infos h1{
        margin-top: 15%;
    }

    #circle img {
        margin-top: 5%;
    }

    #save {
        margin-top: 35%;
    }

    #page-content img {
        width: 60%;
    }

    #infos {
        height: 150%;
    }
}

/* desktop */
@media (min-width: 1024px) {
    #content  {
        width:50%;
        height: 50%;
        margin-left: 25%;
    }

    #circle h1 {
        font-size: 2vm;
        top:20%; left:50%;
        margin-top:15%;
        position: absolute;
        transform: translate(-50%, -50%);
    }

    #save {
        margin-top: 35%
    }

    #infos h1{
        margin-top: 10%;
    }

    #page-content img {
        width: 60%;
    }

    #infos {
        height: 150%;
    }

    #circle p, span{
        font-size: 20px!important;
    }

    #save a {
        font-size: 25px;
    }

    #circle img {
        top:50%; left:0; bottom:10%;
    }
}

#info-h1 {
    margin-left: 5%;
}

#circle-outer {
    margin-bottom: 20%;
    width: 100%;
    padding-bottom: 100%;
    position: relative;
}

#circle {
    position: absolute;
    font-weight: bold;
    color: #5c74aa;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #efefef, 0 0 0 4px white, 0 0 0 1px #efefef;
    background-color: white;
    border: 4px dotted grey;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-bottom:50%;
}

#circle h1 {
    opacity: 1.0;
}

#day-para {
    top: 15%;
}

#circle p {
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

#circle img {
    opacity: 0.4;
    position: relative;
    border-radius: 50px;
    top:60%; left:0; bottom:10%;
    height: 90%
}

#page-content td {
    padding: 10px;
    border-left: 1px solid #efefef;
}

#page-content table {
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    border-right: 1px solid#f2f2f2;
}

#page-content {
    margin-left: 5%;
}

#page-content tr:nth-child(even){background-color: #f2f2f2;}


.red {
    color: indianred;
    font-weight: bold;
}

#housing a, a:visited {
    color: #5c74aa;
}

#housing h1 {
    color: #5c74aa;
}

#housing p {
    border: 1px dotted grey;
    padding: 10px;
    background-color: #f9f5ff;
}

#housing {
    width: 90%;
    margin-top: -2%;
    margin-bottom: 10%;
}

#save a {
    text-decoration: none;
}

#save a:hover {
    text-decoration: underline;
    color: indianred;
}

#housing a{
    cursor: help;
}

#housing a:hover{
    color: indianred;
}

#infos p {
    width: 90%;
}

#save a{
    font-size: 25px;
    color: #5c74aa;
}

